
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        body {
            background-color: black;
        }

        .articlecontent {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
        }

        .mheaderbar {
            display: none;
        }

        .headerbar {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            list-style: none;
            background-color: black;
            margin: 0;
            bottom: 0;

        }

        .headerbar li {
            flex: 1;
            text-align: center;
            line-height: 0.6;

        }

        .headerbar a {
            color: #b78d65;
            text-decoration: none;
            font-size: 20px;
            display: block;
            padding: 24px 5px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;

        }

        .frontpageblackblock {
            height: 500px;
            width: 100%;
            position: relative;
            background-color: black;
        }

        #owl-demo .item {
            padding: 30px 0px;
            margin: 10px;
            text-align: center;
            width: 100%;
            position: relative;
            width: 100%;
            height: 380px;
        }


        .phone {
            display: flex;
            gap: 10px;
            align-items: center;
            left: 0;
            bottom: 0;
            justify-content: center;
        }

        .phone a {
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            color: #b78d65;
            align-items: center;
            padding: 10px;
            display: flex;
            text-align: center;
            flex-direction: column;
        }

        .phone :hover {
            color: white;
            transition: 0.5s;
        }

        .phone img {
            width: 24px;
            height: 24px;
        }

        .socialmediaiconk {
            display: flex;
            gap: 10px;
            padding: 10px;
            align-items: center;
            justify-content: center;
            right: 0;
            bottom: 0;
        }

        .socialmediaiconk img {
            width: 32px;
            height: 32px;
        }



        .categoryletter {
            font-size: 100px;
            color: #b78d65;
            position: relative;
            left: 0;
            bottom: 10px;
            text-decoration: underline;
            background-color: black;
        }

        .wrap .item {
            background-color: #000000;
            text-align: left;
            display: flex;
            margin: auto;
        }

        .wrap .item .txt {
            position: flex;
            display: inline-flex;
            width: 50%;
            color: #b78d65;
            margin: auto;
            padding: 20px;

        }

        .wrap .item .pic img {
            width: 100%;
            vertical-align: middle;
            border-radius: 70%;
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .headerbar li a:hover {
            color: white;
            transition: 0.5s;

        }

        footer {
            background-color: black;
            color: white;
            padding: 40px;
            text-align: center;

        }

        footer h3 {
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            margin: auto;
            align-items: center;
        }

        footer h2 {
            color: gray;
            margin: 10px;
            padding: 10px;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            align-items: center;

        }

        .footer-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            letter-spacing: 1px;
            padding: 15px;
            height: 250px;
            margin: 10px;
        }



        h3 {
            margin-bottom: 10px;
        }

        .smalltitle {
            text-decoration: none;
        }

        .smalltitle :hover {
            color: #b78d65;
        }


        .footer-grid,
        .copyright {
            color: white;
        }

        .article {
            position: relative;
            width: 100%
        }

        .seperator {
            border-top: 1px solid gray;
            display: block;
            margin: 20px;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            cursor: pointer;
            margin-right: 20px;
        }

        .bar {
            width: 30px;
            height: 3px;
            background-color: #b78d65;
            margin: 3px 0;
        }

        @media screen and (max-width: 768px) {
            .articlecontent {
                grid-template-columns: repeat(1, 1fr);
            }

            .headerbar {
                display: none;
            }

            .mheaderbar.mobile-menu-active {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: black;
                z-index: 2;
                transition: transform 0.3s ease;
            }

            .mheaderbar {
                background-color: white;
            }


            .mheaderbar li {
                flex: 1;
                text-align: center;
                line-height: 0.6;

            }

            .mheaderbar a {
                color: #b78d65;
                text-decoration: none;
                font-size: 20px;
                display: block;
                padding: 24px 10px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;

            }


            .footer-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
            }

            .footer-item {
                text-align: center;
                margin-bottom: 20px;
                padding: 10px;
            }

            .socialmediaiconk img {
                width: 30px;
                height: 30px;
            }

            .phone,
            .socialmediaiconk {
                display: none;
            }


            .hamburger {
                display: flex;
            }

            .seperator {
                display: none;
            }

            .copyright {
                display: none;
            }
        }

        @media screen and (max-width: 414px) {
            .footer-grid {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;
            }

        }
